.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 
    font-weight: normal;
    font-size: 20x;
    line-height: 1.2;
    color: #102746;
}
table {
    table-layout:auto;
    width: 100%;
    border-collapse: collapse;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  align-content: center;
    
  }
  
  thead th:nth-child(1) {
    width: 30%;
    font-size: 100px;
  }
  
  thead th:nth-child(2) {
    width: 20%;
    font-size: 50;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
   table.text td {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
   }
   td.rightcol { /* Правая ячейка */ 
    text-align: right; /* Выравнивание по правому краю */
   }
   p{
       font-family:Verdana, Geneva, Tahoma, sans-serif;
   }
   #content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; 
    padding: 20px; 
    background: #4682B4; 
    color: white; 
    width: 100%; 
   }
 
  

